<div class="container">
    <h2>About Me</h2>
    <p>I'm a full stack developer with expertise in:</p>
    <ul>
      <li><b>Frontend:</b> Angular, Blazer</li>
      <li><b>Backend:</b> .Net Core and Framework</li>
      <li><b>Databases:</b> MS SQL, CosmosDb, Mysql</li>
      <li><b>Languages:</b>C#, Typescript, JavaScript, VB .Net, Python, C++ </li>
      <li><b>DevOps:</b> Docker, CI/CD</li>
    </ul>
    <p>With over a decade of experience programming, I've worked on various projects ranging from small companies like Truefit and to bigger companies such as Crum & Forster Pet Insurance. I continue to learn the new technologies and techniques to improve my ability to produce profesional work.</p>
  </div>